.bookButton {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:hover img {
    transform: scale(1.05);
  }
}

.bookImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.bookContent {
  display: none;
}

.listView {
  .bookContent {
    display: block;
  }
}
