.inputWrapper {
  display: flex;
  /* gap: 8px; */
  border: var(--border-thin);
}

.label {
  display: flex;
  gap: 8px;
  font-size: 1rem;
  padding: 0 8px;
  border-right: var(--border-thin);
}

.input {
  flex: 1;
  border: none;
  padding: 8px;
  appearance: none;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 1rem;
  outline-offset: -2px;
}
