.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 14px;
  height: 50px;

  border: var(--border-thin);
  border-top: var(--border-thick);
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.content {
  width: 100%;
  background-color: var(--secondary);
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: var(--border-thin);
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

.item {
  width: 100%;
  padding: 8px 16px;
  border-bottom: var(--border-thin);
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--primary);
    color: var(--secondary);
  }
}
