.sidebar {
  width: 100%;
  max-width: 260px;
  height: calc(100vh - 59px);
  position: fixed;
  overflow: scroll;
  top: 59px;
  left: 0;
  background-color: var(--secondary-color);
  border-right: var(--border-thick);
}

.wrapper {
  width: auto;
  height: 100%;
}
