.mainContent {
  width: auto;
  height: auto;
  margin-left: 267px;
}

.mainWrapper {
  width: auto;
  height: auto;
  padding: var(--main-spacing);
}

.booksContainer {
  width: 100%;
  height: auto;
}

.gridView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--main-spacing);
}

.seriesTitle {
  display: none;
}

.listView {
  display: block;
  .seriesTitle {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
