.mainContent {
  width: 100%;
  height: auto;
  margin-left: 260px;
}

.mainWrapper {
  width: 100%;
  height: auto;
  padding: var(--main-spacing);
}

.booksContainer {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--main-spacing);
}

.list {
  display: block;
}
